.img-footer {
    margin-top: 35px;
    width: 100%;
    height: 29vw;
}

.footer-background {
    background-image: url("../../images/Footer/footer-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
    margin-top: 2.7vw;
    min-height: 715px;
    max-height: 800px;

    .footer-bg-content {
        background: rgba($color: #e6e0e0, $alpha: 0.8);
        color: black;
        position: absolute;
        width: 50%;
        height: 70%;
        top: 0;
        right: 1vw;
        padding: 1.05vw 5%;
        margin-left: 12.5%;
        border-radius: 0 0 20px 20px;
        min-height: 500px;
        
        
        .footer-bg-content-center {
            // margin-left: 2.7vw;
            // margin-top: 2.7vw;
        }

        .contact-footer-overlay {
            padding: 0;
            margin: 0;
            margin-top: 2.78vw;
            margin-left: -2.1vw;
            font-size: 13px;
        }

        .resizeIconFooter {
            width: 7.9vw;
            height: 7.9vw;
        }

        .footer-icon-title {
            font-size: 2vw;
        }

        .contact-footer {
            p{
                font-size: 1rem;
            }
            .contact-footer-para {
                margin-left: 1vw;
            }
        }
    }
}

.footer-bg-overlay {
    background-color: rgba($color: #2c416c, $alpha: 0.85);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}