.fix {
   margin-right: 3.2vw;
}

.containerHeader {
   background-color: #192847;
   color: white;
   font-size: 0.9vw;
}

.backgroundNav {
   background-color: #ffffff;

   .resizeIcon {
      width: 6.3vw;
      height: 6.3vw;
   }

   // .fixTop {
   //    margin-top: -40px;
   // }
}

#header-navbar-nav {
   .fix.active {
      background: #192847;
      color: white;
      border-radius: 15px;
      box-shadow: #000000c7 0px 4px 4px 0px !important;
   }

   .nav-link {
      font-size: 1.4vw;
      padding: 1.2vw 1.6vw;
      transition: all 0.3s;
   }
}

.item-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.mr-25vw {
   margin-right: 2.5vw;
}

