.sectionTitle {
    margin-top: 1.9vw;
    font-size: 2.3vw;
    text-transform: uppercase;
    font-weight: 700;
}

.styleHr {
    margin-top: -10px;
    border: none;
    height: 5px;
    background-color: #110fd6;
}

.card {
    padding: 0.8vw 0.5vw;
    border: none;
    h4 {
        text-transform: uppercase;
        font-weight: 700;
        text-align: left;
        font-size: 1.4vw;
        height: 3.8vw;
    }
    p {
        font-size: 1vw;
        word-spacing: 0.2px;
        text-align: start;
    }
    img {
        padding: 0 3.9vw 0.23vw 3.9vw;
    }
}
